<template>
    <div id='app-root'>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 nav-col">
                    <menu-component></menu-component>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <router-view></router-view>
                </div>
            </div>
        </div>
    </div>
</template>

<script src="./app.ts"></script>
